.site-footer {
  // margin-top: 2rem;
  // margin-bottom: 2rem;
  padding: 100px 0;
  text-align: center;
  background-color: #1c1c1c;

  @include breakpoint(md) {
    text-align: left;
  }
}

.footer-widgets {
  display: flex;
  flex-flow: column nowrap;


  @include breakpoint(md) {
    flex-flow: row nowrap;
  }

  .widget {
    text-align: left;
    margin-bottom: 50px;

    @include breakpoint(md){
      margin-bottom: 0;
    }
    &:nth-child(1){
      flex: 2;
    }
    &:nth-child(2), &:nth-child(3){
      flex: 1;
    }
  }

  .widget h4 {
    margin-top: 0;
    font-size: 20px;
  }

  .contact-info {
    p{
      margin-bottom: 15px;
      line-height: 1.15;
      color: #999999;
    }
  }

  .footer-diensten, .footer-algemeen {
    display: flex;
    flex-flow: column;

    h4 {
      color: white;
      margin-bottom: 15px;
    }
    a {
      margin-bottom: 15px;

    }
  }


}


.clients {
  margin: 50px 0;
  overflow: hidden;
  >.container {
    overflow: hidden;
  }
}
.client-slider {

  .swiper-wrapper {
    align-items: center;
  }
  .swiper-slide{
    display: flex;
    justify-content: center;

    .clients-image__wrapper {
      max-width: 180px;
      height: auto;
      >img {
        width: 100%;
        filter: grayscale(100%);

        &:hover {
          filter: grayscale(0%);
          cursor: default;
        }
      }
    }
  }
}
