.site-header {
  text-align: center;
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
  padding: 30px 0;
  transition: 1s;
  z-index: 2;
  @include breakpoint(md) {
    text-align: left;
  }
  a {
    font-size: 16px;
  }

  #menu-header > li > a{
    padding-bottom: 25px;
  }

  .menu-item-has-children {
    position: relative;

    &:hover .sub-menu {
      display: flex;
    }
    > .sub-menu {
      display: none;
      position: absolute;
      flex-flow: column;
      border-radius: 20px;
      box-shadow: 0 0 20px 1px rgba(103, 105, 116, 0.2);
      background-color: #ffffff;
      text-align: center;
      padding: 20px;
      bottom: -204px;
      left: -35px;
      > li {
        margin: 8px 0;
      }
      > li a {
        font-size: 14px;
        font-weight: 100;
        padding: 10px 0;
      }
    }
  }
}

.site-header.shadow {
  -webkit-box-shadow: 3px 10px 18px 1px rgba(103, 105, 116, 0.1);
  -moz-box-shadow: 3px 10px 18px 1px rgba(103, 105, 116, 0.1);
  box-shadow: 3px 10px 18px 1px rgba(103, 105, 116, 0.1);
}

.site-title {
  margin-top: 0;
  font-size: 5rem;
  font-weight: 300;
}

.site-description {
  margin-top: 1rem;
  font-size: 1.6rem;
}

.primary-navigation {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  ul li {
    display: inline-block;
    margin-right: 1rem;
    font-size: 16px;
    a {
      color: #8E8E8E;
      text-decoration: none;
      font-family: 'Open Sans';
      font-weight: 600;
    }
    &.menu-item {

      & a:hover {
        color: #1c1c1c;
      }
    }

    &.current-menu-item a {
      color: $color-blue;
      border-bottom: 3px solid;
      padding-bottom: 25px;

      &:hover {
        color: $color-blue;
        border-bottom: 3px solid;
      }
    }
  }
}

.site-header_wrapper{
  width: 100%;
  position: relative;
}

.site-logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.header-cta{
  align-items: baseline;
  .telnr {
    margin-right: 30px;
  }
  a {
    color: $color-text;
    font-weight: 600;
  }

  .contact {
    background-color: $color-light-blue;
    padding: 5px 20px;
    border-radius: 20px;
  }
}

//Animation of phone nr
.telnr a {
  position: relative;
  &:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -2px;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  }
  &:hover:after {
    width: 100%;
    left: 0;
  }
}
