.site-header {
  text-align: center;
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
  // padding: 30px 0;
  transition: 1s;
  z-index: 10;
  min-height: 80px;
  align-items: center;
  display: flex;
  justify-content: center;
  @include breakpoint(md) {
    text-align: left;
  }
  a {
    font-size: 16px;
  }


  #menu-header > li > a{
    padding-bottom: 25px;
  }

  .menu-item-has-children {
    position: relative;

    &:hover .sub-menu {
      display: flex;
    }
    > .sub-menu {
      display: none;
      position: absolute;
      flex-flow: column;
      border-radius: 20px;
      box-shadow: 0 0 20px 1px rgba(103, 105, 116, 0.2);
      background-color: #ffffff;
      text-align: center;
      padding: 20px;
      bottom: -204px;
      left: -35px;
      > li {
        margin: 8px 0;
      }
      > li a {
        font-size: 14px;
        font-weight: 100;
        padding: 10px 0;
      }
    }
  }
}

.site-header.shadow {
  // padding: 15px 0;
  min-height: 60px;
  -webkit-box-shadow: 3px 10px 18px 1px rgba(103, 105, 116, 0.1);
  -moz-box-shadow: 3px 10px 18px 1px rgba(103, 105, 116, 0.1);
  box-shadow: 3px 10px 18px 1px rgba(103, 105, 116, 0.1);

  #menu-header > li > a {
    padding-bottom: 18px;
  }
  .menu-item-has-children > .sub-menu {
    bottom: -196px;
  }
}

.site-title {
  margin-top: 0;
  font-size: 5rem;
  font-weight: 300;
}

.site-description {
  margin-top: 1rem;
  font-size: 1.6rem;
}

.primary-navigation {
  display: none;

  @include breakpoint(lg) {
    display: block;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  ul li {
    display: inline-block;
    margin-right: 1rem;
    font-size: 16px;
    a {
      color: #8E8E8E;
      text-decoration: none;
      font-family: 'Open Sans';
      font-weight: 600;
    }
    &.menu-item {

      & a:hover {
        color: #1c1c1c;
      }
    }

    &.current-menu-item a {
      color: $color-blue;
      border-bottom: 3px solid;
      padding-bottom: 25px;

      &:hover {
        color: $color-blue;
        border-bottom: 3px solid;
      }
    }
  }
}

.site-header_wrapper{
  width: 100%;
  position: relative;
}

.site-logo {
  position: absolute;
  left: 0;
  top: -15px;
  max-width: 41px;

  @include breakpoint(lg){
    left: 50%;
    transform: translate(-50%, 0);
    top: -5px;
  }

  img{
    width: 100%;
  }
}

.header-cta{
  display:none;
  align-items: baseline;
  @include breakpoint(lg) {
    display: flex;
  }
  .telnr {
    margin-right: 30px;
  }
  a {
    color: $color-text;
    font-weight: 600;
  }

  .contact {
    background-color: $color-light-blue;
    padding: 5px 20px;
    border-radius: 20px;
  }
}

//Animation of phone nr
.telnr a {
  position: relative;
  &:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -2px;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  }
  &:hover:after {
    width: 100%;
    left: 0;
  }
}

.mobile-menu {
  background-color: white;
  left: 0;
  position: fixed;
  width: 100%;
  top: -310px;
  transition: 0.4s cubic-bezier(0.58, 0.3, 0.005, 1);
  z-index: 9;
  -webkit-box-shadow: 3px 10px 18px 1px rgba(103, 105, 116, 0.1);
  -moz-box-shadow: 3px 10px 18px 1px rgba(103, 105, 116, 0.1);
  box-shadow: 3px 10px 18px 1px rgba(103, 105, 116, 0.1);
  ul {
    list-style-type: none;
    padding: 0;

    li {
      padding-left: 30px;
      margin-bottom: 15px;
      a {
        color: black;
        font-size: 20px;
      }
    }
  }

  .sub-menu {
    display: none;
  }
}
.menu-open .mobile-menu {
  top: 59px;
}

//Hamburger menu

#nav-burger {
  z-index: 10;
  width: 40px;
  height: 30px;
  top: -15px;
  right: 0;
  position: absolute;
  // margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;


  @include breakpoint(lg){
    display:none;
  }


}
//Hamburger
#nav-burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#nav-burger span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-burger span:nth-child(2) {
  top: 12px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-burger span:nth-child(3) {
  top: 25px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-burger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -4px;
  left: 9px;
}

#nav-burger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-burger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 25px;
  left: 9px;
}
