.hero {
  min-height: 70vh;

    .hero-left {
      background-color: $color-light-blue;
      padding: 50px 20px;

      @include breakpoint(lg){
      flex: 0 0 80%;
      padding: 50px 50px 50px;
      }
      @include breakpoint(lg){
      padding: 100px 100px 100px;
      }
    }
  .hero-left p {
    margin-bottom: 50px;
    max-width: 500px;
  }
  .hero-left h1 {
    max-width: 566px;
    padding-right: 100px;
  }
  .hero-cta .button:first-of-type{
    margin-bottom: 10px;
  }
}

.onze-diensten {
  justify-content: space-between;

  >h2 {
    text-align: center;
  }
  .column {
    text-align: center;
    padding: 30px 30px;
    border-radius: 20px;
    cursor: pointer;
    flex: 50%;

    @include breakpoint(md){
      flex: 0 0 23%;
    }
    &:hover {
      box-shadow: 0 5px 20px 1px rgba(103, 105, 116, 0.2);
    }
    h3 {
      margin-top: 0;
      margin-bottom: 15px;
    }
  //Styling voor Chatbot CTA
    &.chatbot{
      .icon {
      background-color: $color-light-blue;
      }
      &:hover {
        .icon{
          background-color:$color-blue;
          box-shadow: -5px 5px 20px 0 rgba(0, 184, 253, 0.5);
        }
      }
    }
  //Styling voor Automatisering CTA
    &.automatisering{
      .icon {
      background-color: $color-light-green;
      }
      &:hover {
        .icon{
          background-color:$color-green;
          box-shadow: -5px 5px 20px 0 rgb(70, 184, 89);
        }
      }
    }
  //Styling voor Platformen CTA
    &.platformen{
      .icon {
        background-color: $color-light-orange;
      }
      &:hover {
        .icon{
          background-color:$color-orange;
          box-shadow: -5px 5px 20px 0 rgb(172, 124, 70);
        }
      }
    }
  //Styling voor Marketing CTA
    &.marketing{
      .icon {
        background-color: $color-light-pink;
      }
      &:hover {
        .icon{
          background-color:$color-light-pink;
          box-shadow: -5px 5px 20px 0 rgb(187, 115, 163);
        }
      }
    }

  }
  span {
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: normal;
  }


  .icon {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    transition: .3s;
  }
}
