.d-flex{
  display: flex;
}

.d-flex--column {
  flex-flow: column;
}

.space-between{
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}


.row-wrap {
  flex-flow: row wrap;
}

.row-reverse-nowrap {
flex-flow: row wrap;
  @include breakpoint(md){
    flex-flow: row-reverse nowrap;
  }
}
.row-nowrap {
flex-flow: row wrap;
  @include breakpoint(md){
    flex-flow: row nowrap;
  }
}

.align-center {
  align-items: center;
}

.flex-10 {
  flex: 10%;
}
.flex-20 {
  flex: 20%;
}
.flex-23 {
  flex: 23%;
}
.flex-30 {
  flex: 30%;
}
.flex-40 {
  flex: 40%;
}
.flex-50 {
  flex: 50%;
}
.flex-60 {
  flex: 60%;
}
.flex-70 {
  flex: 70%;
}
.flex-80 {
  flex: 80%;
}
.flex-90 {
  flex: 90%;
}
.flex-100 {
  flex: 100%;
}

.text-center {
  text-align: center;
}
