.recrubo-img__big {
  text-align: center;
  margin-bottom: 100px;
  .content__wrapper {
    border-radius: 20px;
  }
  .content {

      padding: 30px 50px 250px 50px;

    @include breakpoint(sm){
      padding: 50px 75px 280px 75px;
    }
    @include breakpoint(md){
      padding: 100px 150px 280px 150px;
    }
  }

  .img__wrapper {
    margin-top: -220px;
    max-width: 1010px;
    padding-left: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 30px;
    img {
      border-radius: 20px;
    }
  }
}
