.recrubo-block {
  position: relative;
  margin-bottom: 100px;
  justify-content: center;

  @include breakpoint(md){
    justify-content: space-between;
  }
  .background {
    position: absolute;
    width: 100%;
    height: 75%;
    z-index: -1;
    border-radius: 20px;
    top: 0;
    @include breakpoint(md){
      width: 75%;
      height: 100%;
    }
  }

  .recrubo-block__inner {

    padding: 50px 20px;
    border-radius: 20px;
    @include breakpoint(sm){
      flex: 0 1 85%;
    }
    @include breakpoint (md){
      flex: 0 1 60%;
    }
    @include breakpoint(lg){
    // flex: 0 0 70%;
    padding: 50px 50px 50px;
    }

    p{
      max-width: 620px;
      margin-bottom: 30px;
    }
  }


  &.row-nowrap {
   .recrubo-block__inner {
    @include breakpoint(xl){
      padding: 100px 0 100px 100px;
      }
    }
  }
  .recrubo-block__img {
    @include breakpoint(md){
    flex: 0 1 45%;
    }

    img {
      width: 100%;
    }
  }

  // &.full-width {
  //   flex: 100%;
  //   border-radius: 20px;

  //   @include breakpoint(md){
  //     padding: 0 50px;
  //   }

  //   @include breakpoint(lg){
  //     // padding: 100px;
  //   }
  //   .recrubo-block__inner{
  //     padding: 50px 20px;
  //     flex: 100%;
  //     @include breakpoint(md){
  //       flex: 65%;
  //       padding: 100px 50px 100px 50px;
  //     }
  //     // max-width: 620px;
  //   }
  //   .recrubo-block__img{
  //     align-self: flex-end;
  //     display: flex;
  //     flex: 100%;
  //     @include breakpoint(md){
  //       flex: 35%;
  //     }
  //   }
  // }
}

//Recrubo block img right

.recrubo-block.row-nowrap {

  .recrubo-block__img{
    @include breakpoint(sm){
      // flex: 0 1 50%;
      // margin-top: -50px;

    }
    @include breakpoint(lg){
      // margin-left: -110px;
      // flex: unset;
      margin-top: 0px;
    }
  }
}
//Recrubo block img left
.recrubo-block.row-reverse-nowrap {

  // .recrubo-block__img{
  //   @include breakpoint(sm){
  //     flex: 0 1 50%;
  //     margin-top: -50px;
  //     margin-left: auto;
  //   }
  //   @include breakpoint(lg){
  //     margin-left: unset;
  //     margin-right: -110px;
  //     flex: unset;
  //     margin-top: 0px;
  //   }
  //   @include breakpoint(xl){
  //     margin-right: -100px;
  //   }
  // }

  .recrubo-block__inner {
    @include breakpoint(xl){
      padding: 100px 100px 100px 0;
      }
    }
  }


.recrubo-block.row-reverse {
  flex-flow: row wrap;
  @include breakpoint(md){
    flex-flow: row-reverse
  }
}
