.recrubo-img__big {
  text-align: left;
  margin-bottom: 100px;
  .content__wrapper {
    border-radius: 20px;
  }
  .content {

      padding: 50px 25px 250px 50px;

    @include breakpoint(sm){
      padding: 50px 75px 280px 75px;
    }
    @include breakpoint(md){
      padding: 100px 150px 280px 150px;
    }
  }

  .img__wrapper {
    margin-top: -220px;
    max-width: 1010px;
    padding-left: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 30px;
    img {
      border-radius: 20px;
    }
  }
  .video__wrapper {
    margin-top: -220px;
    max-width: 1010px;
    width: 100%;
    padding-left: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 30px;
    // padding-top: 56.25%;
    position: relative;
    overflow: hidden;
    width: 100%;
    .embed-container {
      border-radius: 20px;
    }
  }
}
