

.onze-diensten {
  justify-content: space-between;
  margin-bottom: 100px;

  a {
    color: #1c1c1c;
  }
  >h2 {
    text-align: center;
  }
  .column {
    text-align: center;
    padding: 30px 30px;
    border-radius: 20px;
    cursor: pointer;
    flex: 50%;

    @include breakpoint(md){
      flex: 0 0 23%;
    }
    &:hover {
      box-shadow: 0 5px 20px 1px rgba(103, 105, 116, 0.2);
    }
    h3 {
      margin-top: 0;
      margin-bottom: 15px;
    }
  //Styling voor Chatbot CTA
    &.chatbot{
      .icon {
      background-color: $color-light-blue;
      }
      &:hover {
        .icon{
          background-color:$color-blue;
          box-shadow: -5px 5px 20px 0 rgba(0, 184, 253, 0.5);
        }
      }
    }
  //Styling voor Automatisering CTA
    &.automatisering{
      .icon {
      background-color: $color-light-green;
      }
      &:hover {
        .icon{
          background-color:$color-green;
          box-shadow: -5px 5px 20px 0 rgb(70, 184, 89);
        }
      }
    }
  //Styling voor Platformen CTA
    &.platformen{
      .icon {
        background-color: $color-light-orange;
      }
      &:hover {
        .icon{
          background-color:$color-orange;
          box-shadow: -5px 5px 20px 0 rgb(172, 124, 70);
        }
      }
    }
  //Styling voor Marketing CTA
    &.marketing{
      .icon {
        background-color: $color-light-pink;
      }
      &:hover {
        .icon{
          background-color:$color-light-pink;
          box-shadow: -5px 5px 20px 0 rgb(187, 115, 163);
        }
      }
    }

  }
  span {
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: normal;
  }


  .icon {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    transition: .3s;
  }
}


// .recrubo-block {
//   display: grid;
//   grid-template-columns: repeat(12, 1fr);
// //   @include breakpoint(md){
// //     min-height: 890px;
// //   }
//   position: relative;
//   margin-bottom: 100px;
//   .recrubo-block__inner {
//     grid-column-start: 1;
//     grid-column-end: 9;
//     grid-row-start: 1;
//     padding: 50px 20px;
//     border-radius: 20px;

//     @include breakpoint (md){
//       flex: 0 0 80%;
//     }
//     @include breakpoint(lg){
//     flex: 0 0 70%;
//     padding: 50px 50px 50px;
//     }
//     @include breakpoint(lg){
//     padding: 100px 100px 100px;
//     }

//     p{
//       max-width: 620px;
//       margin-bottom: 30px;
//     }
//   }

//   .recrubo-block__img {
//     grid-column-start: 8;
//     grid-column-end: 13;
//     grid-row-start: 1;
//   }
// }

.testimonials {
  text-align: center;
  margin-bottom: 100px;
  // padding: 0 30px;
  .recrubo-slider {
    padding-left: calc(50vw - 650px);
  }

  .swiper-container {
    width:100%;
    padding: 30px;

    .swiper-slide {
      //Slides niet perfect in beeld door deze css
      max-width: 300px;
    }
  }

  .testimonial-wrapper {
    padding: 30px;
    box-shadow: 0 0 20px 1px rgba(103, 105, 116, 0.2);
    border-radius: 20px 20px 20px 0;
    min-height: 233px;
    max-width: 300px;
    // max-height: 233px;
    .personal-info {
      margin-bottom: 15px;
      .image {
        margin-right: 15px;
        max-width: 50px;
        max-height: 50px;
      }
      .info{
        display: flex;
        flex-flow: column;
        justify-content: center;
        text-align: left;


        h4{
          margin-bottom: 0;
          font-size: 16px;
          font-weight: 600;
        }
        span {
          font-size: 14px;
        }
      }
    }
  }

  .content {
    text-align: left;
      span{
      font-size: 14px;

      }
    }

    //Pagination
    .swiper-pagination {
      width: 100%;
      .swiper-pagination-bullet{
        border-radius: 2.5px;
        width: 20px;
        height: 5px;
        margin-right: 5px;
      }
    }
}

.recrubo-cta {
  padding: 100px 0;

  h2 {
    margin-bottom: 50px;
  }
}
